<h1> Welcome to the Genre's Page : <%=@genre.name%> </h1>
<ul>
  <% @genre.songs.each do |genre| %>
    <li><a href="/genre/<%= song.slug %>"><%= song.name %> </a></li>
  <% end %>
</ul>

<ul>
  <% @genre.artists.each do |artist| %>
    <li><a href="/artist/<%= artist.slug %>"><%= artist.name %> </a></li>
  <% end %>
</ul>
